﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dobrodošli!</h1>
    <p>Pratite proces Javne Nabave</p>
    <p>Pojednostavite si život sa web-aplikacijom za evidenciju svih aktivosti vezanih za proces javne nabave</p>
</div>
