﻿@model OcjenaPonude

@{
    ViewData["Title"] = "Dodavanje ocjene za ponudu";
}

<h2 style="margin-top:1%; color:midnightblue">Dodavanje novog ocjene ponude</h2>
<form asp-action="Create" method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="sifraPonude">Ponuda</label><br />
        <select class="form-control" asp-for="sifraPonude" asp-items="ViewBag.OcjenaPonude">
            <option disabled selected value="">Odaberite ponudu</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="OIBOvlastenika">Ovlaštenik</label><br />
        <input asp-for="OIBOvlastenika" class="form-control" placeholder="Unesite ovlaštenika" />
    </div>
    <div class="form-group">
        <label asp-for="ocjena">Ocjena</label><br />
        <input asp-for="ocjena" class="form-control" placeholder="Unesite ocjenu" />
    </div>
    <div class="form-group">
        <label asp-for="opis">Opis</label><br />
        <input asp-for="opis" class="form-control" placeholder="Unesite opis (opcionalno)" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Unesi</button>
        <a asp-action="Index" class="btn btn-secondary">Odustani</a>
    </div>
</form>
