﻿@model OcjenaPonude

@{
    ViewBag.Title = "Ažuriranje ocjene ponude";
}

<h2 style="margin-top:1%; color:midnightblue">Ažuriranje ocjene ponude</h2>
<form asp-route-page="@ViewBag.Page"
      asp-route-sort="@ViewBag.Sort"
      asp-route-ascending="@ViewBag.Ascending"
      method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="sifraPonude">Ponuda</label><br />
        <select class="form-control" asp-for="sifraPonude" asp-items="ViewBag.OcjenaPonude">
            <option disabled selected value="">Odaberite ponudu</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="ocjena">Ocjena</label><br />
        <div><span asp-validation-for="ocjena" class="text-danger"></span></div>
        <input asp-for="ocjena" class="form-control" placeholder="Unesite ocjenu" />
    </div>
    <div class="form-group">
        <label asp-for="opis">Opis</label><br />
        <div><span asp-validation-for="opis" class="text-danger"></span></div>
        <input asp-for="opis" class="form-control" placeholder="Unesite opis(opcionalno)" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Spremi promjene</button>
        <a asp-action="Index"
           asp-route-page="@ViewBag.Page"
           asp-route-sort="@ViewBag.Sort"
           asp-route-ascending="@ViewBag.Ascending"
           class="btn btn-secondary">Odustani od promjena</a>
    </div>
</form>
