﻿@model Nabava

@{
    ViewData["Title"] = "Nova nabava";
}

<h2 class="text-center">Unos nove nabave</h2>

<form asp-action="Create" method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="idNabava">Šifra nabave</label>
        <div><span asp-validation-for="idNabava" class="text-danger"></span></div>
        <input asp-for="idNabava" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="predmet">Predmet nabave</label>
        <div><span asp-validation-for="predmet" class="text-danger"></span></div>
        <input asp-for="predmet" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="CPV">CPV</label>
        <div><span asp-validation-for="CPV" class="text-danger"></span></div>
        <input asp-for="CPV" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="procVrijednost">Procijenjena vrijednost (HRK)</label>
        <div><span asp-validation-for="procVrijednost" class="text-danger"></span></div>
        <input asp-for="procVrijednost" class="form-control" type="number" step="0.01" min="0" />
    </div>
    <div class="form-group">
        <label asp-for="vrstaPostupka">Vrsta postupka</label>
        <div><span asp-validation-for="vrstaPostupka" class="text-danger"></span></div>
        <input asp-for="vrstaPostupka" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="podjelaGrupe">Podjela grupe</label>
        <div><span asp-validation-for="podjelaGrupe" class="text-danger"></span></div>
        <input asp-for="podjelaGrupe" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="planiraniPocetak">Planirani početak</label>
        <div><span asp-validation-for="planiraniPocetak" class="text-danger"></span></div>
        <input asp-for="planiraniPocetak" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="vrijediOd">Vrijedi od:</label>
        <div><span asp-validation-for="vrijediOd" class="text-danger"></span></div>
        <input asp-for="vrijediOd" class="form-control" type="date" value="yyyy-mm-dd" />
    </div>
    <div class="form-group">
        <label asp-for="vrijediDo">Vrijedi do:</label>
        <div><span asp-validation-for="vrijediDo" class="text-danger"></span></div>
        <input asp-for="vrijediDo" class="form-control" type="date" value="yyyy-mm-dd" />
    </div>

    <div class="form-group">
        <label asp-for="zakon">Zakon</label>
        <div><span asp-validation-for="zakon" class="text-danger"></span></div>
        <input asp-for="zakon" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="idPodrucja">Područje zanimanja</label>
        <select class="form-control" asp-for="idPodrucja" asp-items="ViewBag.Podrucja">
            <option disabled selected value="">Odaberite područje zanimanja</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="idPlana">Godina plana nabave</label>
        <select class="form-control" asp-for="idPlana" asp-items="ViewBag.Planovi">
            <option disabled selected value="">Odaberite godinu</option>
        </select>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Dodaj</button>
        <a asp-action="Index" class="btn btn-secondary">Odustani</a>
    </div>
</form>