﻿@model Ovlastenik

@{
    ViewData["Title"] = "Dodavanje ovlaštenika";
}

<h2 style="margin-top:1%; color:midnightblue">Dodavanje ovlaštenika</h2>
<form asp-action="Create" method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="OIBOvlastenika">OIB</label><br />
        <input asp-for="OIBOvlastenika" class="form-control" placeholder="Unesite OIB ovlaštenika" />
    </div>
    <div class="form-group">
        <label asp-for="ime">Ime</label><br />
        <input asp-for="ime" class="form-control" placeholder="Unesite ime" />
    </div>
    <div class="form-group">
        <label asp-for="prezime">Prezime</label><br />
        <input asp-for="prezime" class="form-control" placeholder="Unesite prezime" />
    </div>
    <div class="form-group">
        <label asp-for="OIBNarucitelja">Naručitelj</label><br />
        <select class="form-control" asp-for="OIBNarucitelja" asp-items="ViewBag.Ovlastenik">
            <option disabled selected value="">Odaberite naručitelja</option>
        </select>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Unesi</button>
        <a asp-action="Index" class="btn btn-secondary">Odustani</a>
    </div>
</form>
