﻿@model Ovlastenik

@{
    ViewBag.Title = "Ažuriranje ovlaštenika";
}

<h2 style="margin-top:1%; color:midnightblue">Ažuriranje osobnih podataka ovlaštenika</h2>
<form asp-route-page="@ViewBag.Page"
      asp-route-sort="@ViewBag.Sort"
      asp-route-ascending="@ViewBag.Ascending"
      method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="ime">Ime</label><br />
        <div><span asp-validation-for="ime" class="text-danger"></span></div>
        <input asp-for="ime" class="form-control" placeholder="Unesite ime" />
    </div>
    <div class="form-group">
        <label asp-for="prezime">Prezime</label><br />
        <div><span asp-validation-for="prezime" class="text-danger"></span></div>
        <input asp-for="prezime" class="form-control" placeholder="Unesite prezime" />
    </div>
    <div class="form-group">
        <label asp-for="OIBNarucitelja">Naručitelj</label><br />
        <select class="form-control" asp-for="OIBNarucitelja" asp-items="ViewBag.Ovlastenik">
            <option disabled selected value="">Odaberite naručitelja</option>
        </select>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Spremi promjene</button>
        <a asp-action="Index"
           asp-route-page="@ViewBag.Page"
           asp-route-sort="@ViewBag.Sort"
           asp-route-ascending="@ViewBag.Ascending"
           class="btn btn-secondary">Odustani od promjena</a>
    </div>
</form>
