﻿@model WebApplicationJaNa.ViewModels.OvlasteniciViewModel

@{
    ViewData["Title"] = "Popis ovlaštenika";
}

<style>
    .naslov + h2 {
        color: midnightblue;
        margin-top: 1%;
    }

    .btn-edit {
        color: white;
        background-color: rgb(242, 126, 2);
        margin-right: 1px;
    }

        .btn-edit:hover {
            color: white;
            background-color: rgb(252, 181, 27);
        }

    .btn-delete {
        color: white;
        background-color: rgb(209, 19, 19);
    }

        .btn-delete:hover {
            color: white;
            background-color: rgb(253, 16, 16);
        }

    .btn-more {
        color: white;
        background-color: dimgray;
    }

    .btn-more:hover {
        color: white;
        background-color: gray;
    }

    .unos {
        padding: 1%;
        outline: none;
        background-color: cornflowerblue;
        border: none;
        border-radius: 3%;
        width: 100px;
        margin-bottom: 1%;
        text-align: center;
    }

        .unos:hover {
            background-color: rgb(131, 171, 241);
            cursor: default;
        }

    .a-unos, .a-unos:hover {
        color: white;
        text-decoration: none;
    }
</style>
<p class="naslov"><h2>Popis ovlaštenika</h2></p>

@*<div class="unos"><a class="a-unos" asp-action="Create">Novi unos</a></div>*@
<pager page-info="@Model.PagingInfo" page-action="Index" page-title="Unesite željenu stranicu" class="float-right"></pager>

<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            <th class="text-center">
                <a asp-route-sort="1"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)">OIB</a>
            </th>
            <th class="text-center">
                <a asp-route-sort="2"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)">Ime</a>
            </th>
            <th class="text-center">
                <a asp-route-sort="3"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 2 ? !Model.PagingInfo.Ascending : true)">Prezime</a>
            </th>
            <th class="text-center">
                <a asp-route-sort="4"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 2 ? !Model.PagingInfo.Ascending : true)">Naručitelj</a>
            </th>
            <th class="text-center">Popis danih ocjena</th>
            @*<th class="text-center"></th>*@
            <th class="text-right"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ovlastenik in Model.Ovlastenici)
        {
        <tr>
            @{ 
                var count = ovlastenik.ocjenePonuda.Count;

            <td class="text-center">@ovlastenik.oibOvlastenika</td>
            <td class="text-center">@ovlastenik.ime</td>
            <td class="text-center">@ovlastenik.prezime</td>
            <td class="text-center">@ovlastenik.nazivNarucitelja</td>
            <td class="text-center">
                @if (count != 0)
                {
                    @for (int i = 0; i < count; i++)
                    {
                        if (i == 3) break;
                        <span>@ovlastenik.ocjenePonuda.ElementAt(i); </span>

                    }
                }
            </td>
            @if (count > 0)
            {
            <td class="text-right">
                <a asp-action="More"
                   asp-route-id="@ovlastenik.oibOvlastenika"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-sort="@Model.PagingInfo.Sort"
                   asp-route-ascending="@Model.PagingInfo.Ascending"
                   class="btn btn-more">
                    opširnije
                </a>
            </td>
            }
            else
            {
                <td class="text-right" style=" color:gray">opširnije</td>
            }
            }
        </tr>
        }
    </tbody>
</table>
@section scripts {
    <script src="~/js/pager.js" asp-append-version="true"></script>

}