﻿@model WebApplicationJaNa.ViewModels.OcjenePonudaViewModel

@{
    ViewData["Title"] = "Popis ocjena ponuda";
}

<style>
    .naslov + h2 {
        color: midnightblue;
        margin-top: 1%;
    }
</style>
<p class="naslov"><h2>Ovlaštenik</h2></p>

<table style="width:80%">
    @{ 
        var ovlastenik = Model.OcjenePonuda.ElementAt(0);
    <tr>
        <th>Ime:</th>
        <td>@ovlastenik.OIBOvlastenikaNavigation.ime</td>
    </tr>
    <tr>
        <th>Prezime:</th>
        <td>@ovlastenik.OIBOvlastenikaNavigation.prezime</td>
    </tr>
    <tr>
        <th>OIB:</th>
        <td>@ovlastenik.OIBOvlastenikaNavigation.OIBOvlastenika</td>
    </tr>
    <tr>
        <th>Naručitelj:</th>
        <td>@ovlastenik.OIBOvlastenikaNavigation.OIBNaruciteljaNavigation.naziv</td>
    </tr>
    }
</table>


<p class="naslov"><h2>Ocjene ponuda</h2></p>



<pager page-info="@Model.PagingInfo" page-action="More" page-title="Unesite željenu stranicu" class="float-right"></pager>

<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            <th class="text-center">
                <a asp-route-sort="1"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)">Šifra ponude</a>
            </th>
            <th class="text-center">
                <a asp-route-sort="2"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 2 ? !Model.PagingInfo.Ascending : true)">Ocjena</a>
            </th>
            <th class="text-center">
                <a asp-route-sort="3"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 2 ? !Model.PagingInfo.Ascending : true)">Datum</a>
            </th>
            <th class="text-center">
                <a asp-route-sort="4"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 2 ? !Model.PagingInfo.Ascending : true)">Opis</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ocjena in Model.OcjenePonuda)
        {
        <tr>
            <td class="text-center">@ocjena.sifraPonude</td>
            <td class="text-center">@ocjena.ocjena</td>
            <td class="text-center">@ocjena.datum</td>
            <td class="text-center">@ocjena.opis</td>
        </tr>
        }
    </tbody>
</table>
@section scripts {
    <script src="~/js/pager.js" asp-append-version="true"></script>

}