﻿@model WebApplicationJaNa.ViewModels.plViewModel

@{ ViewBag.Title = "Plan nabave " + @Model.sifraPlana; }


<h2 class="text-center">Detalji plana nabave</h2>

<div class="text-center">
    <h5>
        Šifra plana: @Model.sifraPlana,
    </h5>
    <h5>
        Godina: @Model.godinaPlana,
    </h5>
    <h5>
        Naziv naručitelja: @Model.nazivNaruciteljaPlana
    </h5>
</div>
<hr />    
            <table class="table table-sm table-striped table-hover">
                <thead>
                    <tr>
                        @{ string[] nazivi = { "Šifra nabave", "Predmet", "CPV", "Vrijednost", "Vrsta postupka", "Podjela grupe",
                                             "Planirani početak", "Vrijedi od", "Vrijedi do", "Zakon", "Područje" };
                            for (int i = 0; i < nazivi.Length; i++)
                            {
                        <th class="text-center">
                             @nazivi[i]
                            </th>
                            } }
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var stavka in Model.Nabave)
                    {
        <tr>
            <td class="text-left col-sm-4">
                @stavka.idNabave
            </td>
            <td class="text-right col-sm-1">
                @stavka.predmetNabave
            </td>
            <td class="text-left col-sm-4">
                @stavka.cpvNabave
            </td>
            <td class="text-right col-sm-1">
                @stavka.vrijednostNabave.ToString("C2")
            </td>
            <td class="text-left col-sm-4">
                @stavka.vrstapostupkaNabave
            </td>
            <td class="text-right col-sm-1">
                @stavka.podjelagrupeNabave
            </td>
            <td class="text-left col-sm-4">
                @stavka.planiranipocetakNabave
            </td>
            <td class="text-right col-sm-1">
                @stavka.vrijediodNabave
            </td>
            <td class="text-center col-sm-1">
                @stavka.vrijedidoNabave
            </td>
            <td class="text-right col-sm-2">
                @stavka.zakonNabave
            </td>
            <td class="text-right col-sm-2">
                @stavka.nazivPodrucjaNabave
            </td>
        </tr>
}
                </tbody>
            </table>
        
 
<div>
    <a asp-action="Index"> Natrag na master</a>
</div>