﻿@model WebApplicationJaNa.ViewModels.MasterPlanNabavaViewModel

@{
    ViewData["Title"] = "Master planovi nabava:";
}

<h2 class="text-center">Planovi nabave</h2>

<div class="small">Elementi vrednovanja: složeni tablični prikaz</div>

<pager page-info="@Model.PagingInfo" page-action="Index" page-title="Unesite željenu stranicu" class="float-right">
</pager>



<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            <th>
                <a asp-route-sort="1"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)">Šifra plana nabave: </a>
            </th>
            <th>
                <a asp-route-sort="2"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 2 ? !Model.PagingInfo.Ascending : true)">Godina: </a>
            </th>
            <th>
                <a asp-route-sort="2"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 2 ? !Model.PagingInfo.Ascending : true)">Naručitelj: </a>
            </th>
            <th>
                <a asp-route-sort="3"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? !Model.PagingInfo.Ascending : true)">Popis nabava: </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PlanNabava)
        {
        <tr>
            <td class="text-left">@item.idPlana</td>
            <td class="text-left">@item.godinaPlana</td>
            <td class="text-left">@item.nazivNarucitelja</td>
            <td class="text-left">
                @foreach (var i in item.pojedineNabave)
                {
                    @i<a>;</a>
                }
            </td>
            <td class="btn-group">
                <form asp-action="Detail" method="get"
                      asp-route-id="@item.idPlana"
                      asp-route-page="@Model.PagingInfo.CurrentPage"
                      asp-route-sort="@Model.PagingInfo.Sort"
                      asp-route-ascending="@Model.PagingInfo.Ascending">
                    <input type="hidden" name="idNabava" value="@item.idPlana" />
                    <button type="submit" class="btn btn-sm btn-info" title="Detalji">
                        Detalji
                    </button>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>

@section scripts {
    <script src="~/js/pager.js" asp-append-version="true"></script>
}

