﻿@model Ponuditelj

@{ViewBag.Title = "Kreiranje novog ponuditelja";}

<form asp-action="Create" method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="nazivPonuditelj"></label>
        <div><span asp-validation-for="nazivPonuditelj" class="text-danger" /></div>
        <input asp-for="nazivPonuditelj" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="OIBPonuditelj"></label>
        <div><span asp-validation-for="OIBPonuditelj" class="text-danger" /></div>
        <input asp-for="OIBPonuditelj" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="adresa"></label>
        <div><span asp-validation-for="adresa" class="text-danger" /></div>
        <input asp-for="adresa" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="sifraGrad">Grad</label>
        <select class="form-control" asp-for="sifraGrad" asp-items="ViewBag.Mjesta">
            <option disabled selected value="">Odaberite grad</option>
        </select>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Dodaj</button>
        <a asp-action="Index" class="btn btn-secondary">Odustani</a>
    </div>
</form>

@section scripts {
    <partial name="IncludeValidation" />
}