﻿@model Ponuditelj

@{ViewBag.Title = "Uređivanje ponuditelja";}

<form asp-route-page="@ViewBag.Page" asp-route-sort="@ViewBag.Sort" asp-route-ascending="@ViewBag.Ascending" method="post">
    @*maknuli smo action edit tako da ne moramo navoditi u hidden oib vec se odmah vracamo odakle je akcija pozvana*@
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="nazivPonuditelj"></label>
        <div><span asp-validation-for="nazivPonuditelj" class="text-danger" /></div>
        <input asp-for="nazivPonuditelj" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="adresa"></label>
        <div><span asp-validation-for="adresa" class="text-danger" /></div>
        <input asp-for="adresa" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="sifraGrad">Grad</label>
        <select class="form-control" asp-for="sifraGrad" asp-items="ViewBag.Mjesta">
            <option disabled selected value="">odaberite grad</option>
        </select>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Spremi promjene</button>
        <a asp-action="Index" asp-route-page="@ViewBag.Page" asp-route-sort="@ViewBag.Sort" asp-route-ascending="@ViewBag.Ascending" class="btn btn-secondary">Odustani</a>
    </div>
</form>

@section scripts {
    <partial name="IncludeValidation" />
}