﻿@model WebApplicationJaNa.ViewModels.TTPonuditeljiViewModel
@{
    ViewData["Title"] = "Popis ponuditelja";
}

<div class="small">Elementi vrednovanja: jednostavni prikaz, straničenje, dodavanje, brisanje i ažuriranje podataka; validacija i padajuća lista na kreiranju i ažuriranju</div>
<br />

<h2>Popis ponuditelja</h2>

<button type="button" class="btn btn-primary"><a asp-action="Create" class="text-white">Unos novog ponuditelja</a></button>
<a class="btn btn-primary" asp-action="PDFReport">Generiraj pdf </a>

<pager page-info="@Model.PagingInfo" page-action="Index" page-title="Unesite željenu stranicu" class="float-right"></pager>

<table class="table table-sm table-striped table-hover" id="tableponuditelji">
    <thead class="thead-light">
        <tr>
            <th class="text-left"><a asp-route-sort="1" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 1? !Model.PagingInfo.Ascending : true)">Naziv ponuditelja</a></th>
            <th class="text-left"><a asp-route-sort="2" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 2? !Model.PagingInfo.Ascending : true)">OIB ponuditelja</a></th>
            <th class="text-left"><a asp-route-sort="3" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 3? !Model.PagingInfo.Ascending : true)">Adresa</a></th>
            <th class="text-left"><a asp-route-sort="4" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 4? !Model.PagingInfo.Ascending : true)">Grad</a></th>
            <th class="text-left"><a asp-route-sort="5" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 5? !Model.PagingInfo.Ascending : true)">Država</a></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ponuditelj in Model.Ponuditelji)
        {
        <tr>
            <td class="text-left">@ponuditelj.nazivPonuditelj</td>
            <td class="text-left">@ponuditelj.OIBPonuditelj</td>
            <td class="text-left">@ponuditelj.adresa</td>
            <td class="text-left">@ponuditelj.grad, @ponuditelj.sifraGrad</td>
            <td class="text-left">@ponuditelj.drzava</td>
            <td class="btn-group">
                <a asp-action="Edit"
                   asp-route-id="@ponuditelj.OIBPonuditelj"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-sort="@Model.PagingInfo.Sort"
                   asp-route-ascending="@Model.PagingInfo.Ascending"
                   class="btn btn-sm" title="Uredi"><i class="fas fa-edit"></i></a>
            </td>
            <td>
                <form asp-action="Delete" method="post"
                      asp-route-page="@Model.PagingInfo.CurrentPage"
                      asp-route-sort="@Model.PagingInfo.Sort"
                      asp-route-ascending="@Model.PagingInfo.Ascending">
                    <input type="hidden" name="OIBPonuditelj" value="@ponuditelj.OIBPonuditelj" />
                    <button type="submit" class="btn btn-sm btn-danger delete" title="Obriši"><i class="fas fa-trash-alt"></i></button>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>