@model Narucitelj

@{
    ViewData["Title"] = "Novi naručitelj";
}

<h2 class="text-center">Unos novog naručitelja</h2>

<form asp-action="Create" method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="OIBNarucitelja">OIB Naručitelja</label>
        <div><span asp-validation-for="OIBNarucitelja" class="text-danger"></span></div>
        <input asp-for="OIBNarucitelja" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="naziv">Naziv naručitelja</label>
        <div><span asp-validation-for="naziv" class="text-danger"></span></div>
        <input asp-for="naziv" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="sifraGrad">Grad</label>
        <select class="form-control" asp-for="sifraGrad" asp-items="ViewBag.Narucitelj">
            <option disabled selected value="">Odaberite željeni grad</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="adresa">Adresa</label>
        <div><span asp-validation-for="adresa" class="text-danger"></span></div>
        <input asp-for="adresa" class="form-control" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Dodaj</button>
        <a asp-action="Index" class="btn btn-secondary">Odustani</a>
    </div>
</form>
