@model Natjecaj

@{ViewBag.Title = "Uređivanje natječaja";}

<h2>Uređivanje natječaja</h2>

<form asp-route-page="@ViewBag.Page" asp-route-sort="@ViewBag.Sort" asp-route-ascending="@ViewBag.Ascending" method="post">
    @*maknuli smo action edit tako da ne moramo navoditi u hidden oib vec se odmah vracamo odakle je akcija pozvana*@
    <div asp-validation-summary="All"></div>
    <br />
    <div style="float:left;">
        <input asp-for="dostavaElektronickimPutem" class="form-control" style="margin:0;padding:0;" />
        <label asp-for="dostavaElektronickimPutem">Dostava elektroničkim putem</label>
    </div>
    <div class="form-group">
        <label asp-for="idNabava">Predmet nabave</label>
        <select class="form-control" asp-for="idNabava" asp-items="ViewBag.Predmeti">
            <option disabled selected value="">odaberite predmet nabave</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="OIBNarucitelja">Naziv naručitelja</label>
        <select class="form-control" asp-for="OIBNarucitelja" asp-items="ViewBag.Narucitelji">
            <option disabled selected value="">odaberite naziv naručitelja</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="datumObjave"></label>
        <div><span asp-validation-for="datumObjave" class="text-danger"></span></div>
        <input asp-for="datumObjave" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="rokZaDostavu"></label>
        <div><span asp-validation-for="rokZaDostavu" class="text-danger"></span></div>
        <input asp-for="rokZaDostavu" class="form-control" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Spremi promjene</button>
        <a asp-action="Index" asp-route-page="@ViewBag.Page" asp-route-sort="@ViewBag.Sort" asp-route-ascending="@ViewBag.Ascending" class="btn btn-secondary">Odustani</a>
    </div>
</form>

@section scripts {
    <partial name="IncludeValidation" />
}
