﻿@model WebApplicationJaNa.ViewModels.MMNatjecajiViewModel
@{
    ViewData["Title"] = "Popis natječaja";
}
<h2>Popis natječaja</h2>

<button type="button" class="btn btn-primary"><a asp-action="Create" class="text-white">Unos novog natječaja</a></button>

<pager page-info="@Model.PagingInfo" page-action="Index" page-title="Unesite željenu stranicu" class="float-right"></pager>

<table class="table table-sm table-striped table-hover" id="tablenatjecaji">
    <thead class="thead-light">
        <tr>
            <th class="text-left"><a asp-route-sort="1" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 1? !Model.PagingInfo.Ascending : true)">Šifra natječaja</a></th>
            <th class="text-left"><a asp-route-sort="2" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 2? !Model.PagingInfo.Ascending : true)">Dostava elektroničkim putem</a></th>
            <th class="text-left"><a asp-route-sort="3" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 3? !Model.PagingInfo.Ascending : true)">Predmet nabave</a></th>
            <th class="text-left"><a asp-route-sort="4" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 4? !Model.PagingInfo.Ascending : true)">Naziv naručitelja</a></th>
            <th class="text-left"><a asp-route-sort="5" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 5? !Model.PagingInfo.Ascending : true)">Datum objave</a></th>
            <th class="text-left"><a asp-route-sort="6" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 6? !Model.PagingInfo.Ascending : true)">Rok za dostavu</a></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var natjecaj in Model.Natjecaji)
        {
        <tr>
            <td class="text-left">@natjecaj.sifraNatjecaj</td>
            <td class="text-left">@natjecaj.dostavaElektronickimPutem</td>
            <td class="text-left">@natjecaj.predmetNabave</td>
            <td class="text-left">@natjecaj.nazivNarucitelja</td>
            <td class="text-left">@natjecaj.datumObjave</td>
            <td class="text-left">@natjecaj.rokZaDostavu</td>
            <td class="btn-group">
                <a asp-action="Edit"
                   asp-route-id="@natjecaj.sifraNatjecaj"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-sort="@Model.PagingInfo.Sort"
                   asp-route-ascending="@Model.PagingInfo.Ascending"
                   class="btn btn-sm" title="Uredi"><i class="fas fa-edit"></i></a>
            </td>
            <td>
                <form asp-action="Delete" method="post"
                      asp-route-page="@Model.PagingInfo.CurrentPage"
                      asp-route-sort="@Model.PagingInfo.Sort"
                      asp-route-ascending="@Model.PagingInfo.Ascending">
                    <input type="hidden" name="sifraNatjecaj" value="@natjecaj.sifraNatjecaj" />
                    <button type="submit" class="btn btn-sm btn-danger delete" title="Obriši"><i class="fas fa-trash-alt"></i></button>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>