﻿@model Lokacija

@{
    ViewData["Title"] = "Nova lokacija";
}

<h2 class="text-center">Unos nove lokacije</h2>

<form asp-action="Create" method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="sifraGrad">Šifra grada</label>
        <div><span asp-validation-for="sifraGrad" class="text-danger"></span></div>
        <input asp-for="sifraGrad" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="grad">Grad</label>
        <div><span asp-validation-for="grad" class="text-danger"></span></div>
        <input asp-for="grad" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="drzava">Drzava</label>
        <div><span asp-validation-for="drzava" class="text-danger"></span></div>
        <input asp-for="drzava" class="form-control" />
    </div>

    <div class="text-center">
        <button class="btn btn-primary" type="submit">Dodaj</button>
        <a asp-action="Index" class="btn btn-secondary">Odustani</a>
    </div>
</form>