﻿@model WebApplicationJaNa.ViewModels.MMLokacijeViewModel

@{
    ViewData["Title"] = "Lokacije:";
}

<h2 class="text-center">Popis lokacija</h2>

<pager page-info="@Model.PagingInfo" page-action="Index" page-title="Unesite željenu stranicu" class="float-right">
</pager>

<div class="text-center">
    <a class="btn btn-primary" asp-action="Create">Unos nove lokacije </a>

</div>
<hr />
<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            <th>
                <a asp-route-sort="1"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)">Šifra grada: </a>
            </th>
            <th>
                <a asp-route-sort="2"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 2 ? !Model.PagingInfo.Ascending : true)">Naziv Grada: </a>
            </th>
            <th>
                <a asp-route-sort="3"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? !Model.PagingInfo.Ascending : true)">Naziv Države: </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var lokacija in Model.Lokacije)
        {
            <tr>
                <td class="text-center">
                    <a asp-action="Show"
                        asp-route-id="@lokacija.sifraGrad"
                        asp-route-page="@Model.PagingInfo.CurrentPage"
                        asp-route-sort="@Model.PagingInfo.Sort"
                        asp-route-ascending="@Model.PagingInfo.Ascending">
                        @lokacija.sifraGrad
                    </a>
                    </td>
                <td class="text-left">@lokacija.sifraGrad</td>
                <td class="text-left">@lokacija.grad</td>
                <td class="text-left">@lokacija.drzava</td>
                <td class="btn-group">
                    <a asp-action="Edit"
                           asp-route-id="@lokacija.sifraGrad"
                           asp-route-page="@Model.PagingInfo.CurrentPage"
                           asp-route-sort="@Model.PagingInfo.Sort"
                           asp-route-ascending="@Model.PagingInfo.Ascending"
                           class="btn btn-sm" title="Ažuriraj">
                            <i class="fas fa-edit"></i>
                    </a>
                    <form asp-action="Delete" method="POST"
                          asp-route-page="@Model.PagingInfo.CurrentPage"
                          asp-route-sort="@Model.PagingInfo.Sort"
                          asp-route-ascending="@Model.PagingInfo.Ascending">
                        <input type="hidden" name="sifraGrad" value="@lokacija.sifraGrad" />
                        <button type="submit" class="btn btn-sm btn-danger delete" title="Obriši">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>
                </td>
                        </tr>
                        }
                    </tbody>
                </table>

                @section scripts {
                    <script src="~/js/pager.js" asp-append-version="true"></script>
                }
