﻿@model Ponuda
@{
    ViewBag.Title = "Nova ponuda";
}

<h2>Unos nove ponude</h2>

<form asp-action="Create" method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="sifraPonude"></label>
        <div><span asp-validation-for="sifraPonude" class="text-danger"></span></div>
        <input asp-for="sifraPonude" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="OIBPonuditelj"></label>
        <div><span asp-validation-for="OIBPonuditelj" class="text-danger"></span></div>
        <input asp-for="OIBPonuditelj" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="sifraKonzorcij"></label>
        <div><span asp-validation-for="sifraKonzorcij" class="text-danger"></span></div>
        <input asp-for="sifraKonzorcij" class="form-control" />
    </div>

      <div class="form-group">
        <label asp-for="sifraNatjecaj"></label>
        <div><span asp-validation-for="sifraNatjecaj" class="text-danger"></span></div>
        <input asp-for="sifraNatjecaj" class="form-control" />
    </div>

    <div class="text-center">
        <button class="btn btn-primary" type="submit">Dodaj</button>
        <a asp-action="Index" class="btn btn-default">Odustani</a>
    </div>
</form>

@section scripts {
    <partial name="IncludeValidation" />
}