﻿@model Ponuda

@{
    ViewBag.Title = "Ažuriranje Ponude";
}

<form asp-route-page="@ViewBag.Page"
      asp-route-sort="@ViewBag.Sort"
      asp-route-ascending="@ViewBag.Ascending"
      method="post">
    <div asp-validation-summary="All"></div>
    <input type="hidden" asp-for="sifraPonude" />
    <div class="form-group">
        <label asp-for="sifraPonude"></label>
        <div><span asp-validation-for="sifraPonude" class="text-danger"></span></div>
        <input asp-for="sifraPonude" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="OIBPonuditelj"></label>
        <div><span asp-validation-for="OIBPonuditelj" class="text-danger"></span></div>
        <textarea asp-for="OIBPonuditelj" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="sifraKonzorcij"></label>
        <div><span asp-validation-for="sifraKonzorcij" class="text-danger"></span></div>
        <input asp-for="sifraKonzorcij" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="sifraNatjecaj"></label>
        <div><span asp-validation-for="sifraNatjecaj" class="text-danger"></span></div>
        <input asp-for="sifraNatjecaj" class="form-control" />
    </div>

    <div class="text-center">
        <button class="btn btn-primary" type="submit">Spremi</button>
        <a asp-action="Index"
           asp-route-page="@ViewBag.Page"
           asp-route-sort="@ViewBag.Sort"
           asp-route-ascending="@ViewBag.Ascending"
           class="btn btn-secondary">Odustani</a>
    </div>
</form>

@section scripts {
    <partial name="IncludeValidation" />
}