﻿@model WebApplicationJaNa.ViewModels.DPPonudeViewModel

@{
    ViewBag.Title = "Ponude";
}

<div class="container">
    <div class="form-group row">
        <div class="col-sm-4">
            <h2>Pregled svih ponuda</h2>
            <br />
            <a asp-action="Create">Unos nove Ponude</a>
        </div>
        <div class="col-sm-7">
            
        </div>
    </div>
</div>



<pager page-info="@Model.PagingInfo"  page-action="Index" page-title="Unesite željenu stranicu"
       class="float-right">
</pager>


<table class="table table-striped">
    <thead>
        <tr>
            <th>
                <a asp-route-sort="1" asp-route-page="@Model.PagingInfo.CurrentPage" 
                   asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)">
                   
                    Šifra ponude
                </a>
            </th>
            <th>
                <a asp-route-sort="2" asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 2 ? !Model.PagingInfo.Ascending : true)">
                   
                    OIB ponuditelja
                </a>
            </th>
            <th>
                <a asp-route-sort="3" asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? !Model.PagingInfo.Ascending : true)">
                   
                    Šifra konzorcija
                </a>
            </th>
              <th>
                <a asp-route-sort="3" asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? !Model.PagingInfo.Ascending : true)">
                   
                    Šifra natječaja
                </a>
            </th>
           
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ponuda in Model.Ponude)
        {
        <tr>
            <td class="text-left">@ponuda.sifraPonude</td>
            <td class="text-left">@ponuda.OIBPonuditelj</td>
            <td class="text-left">@ponuda.sifraKonzorcij</td>
            <td class="text-left">@ponuda.sifraNatjecaj</td>

            <td>
                <a asp-action="Edit"
                   asp-route-id="@ponuda.sifraPonude"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-sort="@Model.PagingInfo.Sort"
                   asp-route-ascending="@Model.PagingInfo.Ascending"
                   class="btn btn-warning btn-sm" title="Ažuriraj"><i class="fas fa-edit"></i></a>
            </td>
            <td>
                <form asp-action="Delete" method="post"
                      asp-route-page="@Model.PagingInfo.CurrentPage"
                      asp-route-sort="@Model.PagingInfo.Sort"
                      asp-route-ascending="@Model.PagingInfo.Ascending">
                    <input type="hidden" name="sifraPonude" value="@ponuda.sifraPonude" />
                    <button type="submit" class="btn btn-sm btn-danger delete" title="Obriši"><i class="fas fa-trash-alt"></i></button>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>

@section styles{
    <link rel="stylesheet" href="~/lib/jqueryui/themes/base/jquery-ui.css" />
}

@section scripts{
    <script src="~/lib/jqueryui/jquery-ui.js"></script>
    <script src="~/js/autocomplete.js" asp-append-version="true"></script>
}