﻿@model PodrucjeZanimanja

@{
    ViewData["Title"] = "Novo područje zanimanja";
}

<h2 class="text-center">Unos novog područja zanimanja</h2>

<form asp-action="Create" method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="idPodrucja">Šifra područja</label>
        <div><span asp-validation-for="idPodrucja" class="text-danger"></span></div>
        <input asp-for="idPodrucja" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="nazivPodrucja">Naziv područja</label>
        <div><span asp-validation-for="nazivPodrucja" class="text-danger"></span></div>
        <input asp-for="nazivPodrucja" class="form-control" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Dodaj</button>
        <a asp-action="Index" class="btn btn-secondary">Odustani</a>
    </div>
</form>

