﻿@model PodrucjeZanimanja

@{
    ViewBag.Title = "Ažuriranje područja zanimanja";
}

<h2 class="text-center">Uređivanje područja zanimanja</h2>

<form asp-route-page="@ViewBag.Page"
      asp-route-sort="@ViewBag.Sort"
      asp-route-ascending="@ViewBag.Ascending"
      asp-action="Edit"
      method="post">
    <div asp-validation-summary="All"></div>

    <div class="form-group">
        <label asp-for="nazivPodrucja">Naziv područja</label>
        <div><span asp-validation-for="nazivPodrucja" class="text-danger"></span></div>
        <input asp-for="nazivPodrucja" class="form-control" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Spremi</button>
        <a asp-action="Index"
           asp-route-page="@ViewBag.Page"
           asp-route-sort="@ViewBag.Sort"
           asp-route-ascending="@ViewBag.Ascending"
           class="btn btn-secondary">Odustani</a>
    </div>
</form>


