﻿@model WebApplicationJaNa.ViewModels.PodrucjeZanimanjaViewModel

@{
    ViewData["Title"] = "Podrucje zanimanja";
}

<h2 class="text-center">Područja zanimanja</h2>

<div class="small">Elementi vrednovanja: jednostavni prikaz, straničenje, sortiranje, dodavanje, brisanje i ažuriranje podataka; validacija</div>

<pager page-info="@Model.PagingInfo" page-action="Index" page-title="Unesite željenu stranicu" class="float-right">
</pager>

<div class="text-center">
    <a class="btn btn-primary" asp-action="Create">Unos novog područja </a>

</div>
<hr />
<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            <th>
                <a asp-route-sort="1"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)">Šifra područja: </a>
            </th>
            <th>
                <a asp-route-sort="2"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 2 ? !Model.PagingInfo.Ascending : true)">Naziv područja: </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PodrucjeZanimanja)
        {
            <tr>
                <td class="text-left">@item.idPodrucja</td>
                <td class="text-left">@item.nazivPodrucja</td>
                <td class="btn-group">
                    <a asp-action="Edit"
                       asp-route-id="@item.idPodrucja"
                       asp-route-page="@Model.PagingInfo.CurrentPage"
                       asp-route-sort="@Model.PagingInfo.Sort"
                       asp-route-ascending="@Model.PagingInfo.Ascending"
                       class="btn btn-sm" title="Ažuriraj">
                        <i class="fas fa-edit"></i>
                    </a>
                    <form asp-action="Delete" method="POST"
                     asp-route-page="@Model.PagingInfo.CurrentPage"
                     asp-route-sort="@Model.PagingInfo.Sort"
                     asp-route-ascending="@Model.PagingInfo.Ascending">
                        <input type="hidden" name="idPodrucja" value="@item.idPodrucja" />
                        <button type="submit" class="btn btn-sm btn-danger delete" title="Obriši">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script src="~/js/pager.js" asp-append-version="true"></script>
}