﻿<!DOCTYPE html>

<html lang="hr_HR" xml:lang="hr_HR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JaNa - @ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("styles", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" asp-action="Index" asp-controller="Home">Javna nabava JaNa</a>

        <!-- Toggler/collapsible Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links  Navigacija -->
        <!-- <vc:navigation>-->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link"
                       asp-action="Index" asp-controller="Home">
                        Početna stranica
                    </a>
                </li>
                <li class="dropdown">
                    <div class="btn-group">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dominik Brdar
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" asp-action="Index" asp-controller="Natjecaj">Natječaj</a>
                            <a class="dropdown-item" asp-action="Index" asp-controller="#">Naručitelj</a>
                            <a class="dropdown-item" asp-action="Index" asp-controller="Dokument">Dokument</a>
                            <a class="dropdown-item" asp-action="Index" asp-controller="VrstaDokumenta">Vrsta Dokumenta</a>
                        </div>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Marcela Matas
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" asp-action="Index" asp-controller="MMNarucitelj">Naručitelj</a>
                            <a class="dropdown-item" asp-action="Index" asp-controller="MMLokacija">Lokacija</a>
                            <a class="dropdown-item" asp-action="Index" asp-controller="MMNatjecaj">Natječaj</a>
                            <a class="dropdown-item" asp-action="Index" asp-controller="MMNabava">Nabava</a>
                        </div>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dora Pavelić
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" asp-action="Index" asp-controller="DPPonuditelj">Ponuditelj</a>
                            <a class="dropdown-item" asp-action="Index" asp-controller="DPLokacija">Lokacija</a>
                            <a class="dropdown-item" asp-action="Index" asp-controller="DPPonuda">Ponuda</a>
                            <a class="dropdown-item" asp-action="Index" asp-controller="#">Natječaj</a>
                        </div>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Antonela Velickov
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" asp-action="Index" asp-controller="Ovlastenik">Ovlaštenik</a>
                            <a class="dropdown-item" asp-action="Index" asp-controller="AVNarucitelj">Naručitelj</a>
                            <a class="dropdown-item" asp-action="Index" asp-controller="OcjenaPonude">Ocjena Ponude</a>
                            <a class="dropdown-item" asp-action="Index" asp-controller="AVPonuda">Ponuda</a>
                        </div>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dora Bezuk
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" asp-action="Index" asp-controller="MasterPlanNabave">MD Plan Nabave</a>
                            <a class="dropdown-item" asp-action="Index" asp-controller="PlanNabave">Plan Nabave</a>
                            <a class="dropdown-item" asp-action="Index" asp-controller="DBNarucitelj">Naručitelj</a>
                            <a class="dropdown-item" asp-action="Index" asp-controller="Nabava">Nabava</a>
                            <a class="dropdown-item" asp-action="Index" asp-controller="PodrucjeZanimanja">Područje zanimanja</a>
                        <hr/>
                            <a class="dropdown-item" asp-action="Index" asp-controller="">Plan Nabave (MD + autocomplete)</a>
                            <a class="dropdown-item" asp-action="Index" asp-controller="#">Područje zanimanja (jTable)</a>
                            <a class="dropdown-item" asp-action="Index" asp-controller="#">Područje zanimanja (Swagger CRUD)</a>
                            <a class="dropdown-item" asp-action="Index" asp-controller="PlanNabave">JTP PDF izvještaj za Plan Nabave</a>

                        </div>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Tea Tučar
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" asp-action="Index" asp-controller="TTPonuda">MD Ponuda</a>
                            <a class="dropdown-item" asp-action="Index" asp-controller="TTPonuditelj">Ponuditelj</a>
                            <a class="dropdown-item" asp-action="Index" asp-controller="TTNatjecaj">Natječaj</a>
                            <hr />
                            <a class="dropdown-item" asp-action="Index" asp-controller="TTPonuda">Ponuda (MD + autocomplete)</a>
                            <a class="dropdown-item" asp-action="Index" asp-controller="TTPonuditelj">JTP PDF izvještaj za Ponuditelj</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-action="Index" asp-controller="ViewLog">
                        Pregled log datoteka
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <main>
        <div>
            @if (TempData[Constants.Message] != null)
            {
                bool error = false;
                var obj = TempData[Constants.ErrorOccurred];
                if (obj != null)
                {
                    error = (bool)obj;
                }
                <div class="alert @(error ? "alert-danger" : "alert-success")">@TempData[Constants.Message]</div>
            }
        </div>
        @RenderBody()
    </main>

    <hr />
    <footer>
        <p class="text-center">&copy; 2020 - RPPP, ZPR, FER</p>
    </footer>

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script asp-src-include="~/lib/jquery-validate/**/jquery.validate.min.js"></script>
    <script asp-src-include="~/lib/jquery-validation-unobtrusive/**/*.min.js"></script>

    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/solid.js" integrity="sha384-P4tSluxIpPk9wNy8WSD8wJDvA8YZIkC6AQ+BfAFLXcUZIPQGu4Ifv4Kqq+i2XzrM" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/fontawesome.js" integrity="sha384-2IUdwouOFWauLdwTuAyHeMMRFfeyy4vqYNjodih+28v2ReC+8j+sLF9cK339k5hY" crossorigin="anonymous"></script>


    <script src="~/js/site.js" asp-append-version="true"></script>

    @* NIJE IMPLEMENTIRANO
        <script src="~/js/validation.js" asp-append-version="true"></script>
    *@

    @RenderSection("scripts", required: false)
</body>
</html>
