﻿@model WebApplicationJaNa.ViewModels.NabavaViewModel

@{
    ViewData["Title"] = "Nabave:";
}

<h2 class="text-center">Popis Nabave</h2>

<pager page-info="@Model.PagingInfo" page-action="Index" page-title="Unesite željenu stranicu" class="float-right">
</pager>

<div class="text-center">
    <a class="btn btn-primary" asp-action="Create">Unos nove nabave </a>

</div>
<hr />
<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            <th>
                <a asp-route-sort="1"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)">Šifra nabave: </a>
            </th>
            <th>
                <a asp-route-sort="2"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 2 ? !Model.PagingInfo.Ascending : true)">Predmet nabave: </a>
            </th>
            <th>
                <a asp-route-sort="3"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? !Model.PagingInfo.Ascending : true)">CPV: </a>
            </th>
            <th>
                <a asp-route-sort="4"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 4 ? !Model.PagingInfo.Ascending : true)">Procijenjena vrijednost: </a>
            </th>
            <th>
                <a asp-route-sort="5"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 5 ? !Model.PagingInfo.Ascending : true)">Vrsta postupka: </a>
            </th>
            <th>
                <a asp-route-sort="6"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 6 ? !Model.PagingInfo.Ascending : true)">Podjela grupe: </a>
            </th>
            <th>
                <a asp-route-sort="7"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 7 ? !Model.PagingInfo.Ascending : true)">Planirani početak: </a>
            </th>
            <th>
                <a asp-route-sort="8"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 8 ? !Model.PagingInfo.Ascending : true)">Vrijedi od: </a>
            </th>
            <th>
                <a asp-route-sort="9"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 9 ? !Model.PagingInfo.Ascending : true)">Vrijedi do: </a>
            </th>
            <th>
                <a asp-route-sort="10"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 10 ? !Model.PagingInfo.Ascending : true)">Zakon: </a>
            </th>
            <th>
                <a asp-route-sort="11"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 11 ? !Model.PagingInfo.Ascending : true)">Područje zanimanja: </a>
            </th>
            <th>
                <a asp-route-sort="12"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 12 ? !Model.PagingInfo.Ascending : true)">Godina plana nabave: </a>
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Nabava)
        {
            <tr>
                <td class="text-left">@item.idNabava</td>
                <td class="text-left">@item.predmet</td>
                <td class="text-left">@item.CPV</td>
                <td class="text-left">@item.procVrijednost</td>
                <td class="text-left">@item.vrstaPostupka</td>
                <td class="text-left">@item.podjelaGrupe</td>
                <td class="text-left">@item.planiraniPocetak</td>
                <td class="text-left">@item.vrijediOd</td>
                <td class="text-left">@item.vrijediDo</td>
                <td class="text-left">@item.zakon</td>
                <td class="text-left">@item.idPodrucjaNavigation.nazivPodrucja</td>
                <td class="text-left">@item.idPlanaNavigation.godina </td>
                <td class="btn-group">
                    <a asp-action="Edit"
                           asp-route-id="@item.idNabava"
                           asp-route-page="@Model.PagingInfo.CurrentPage"
                           asp-route-sort="@Model.PagingInfo.Sort"
                           asp-route-ascending="@Model.PagingInfo.Ascending"
                           class="btn btn-sm" title="Ažuriraj">
                            <i class="fas fa-edit"></i>
                    </a>
                    <!--<a asp-action="Edit"
                     asp-route-id="@item.idPlana"
                     asp-route-page="@Model.PagingInfo.CurrentPage"
                     asp-route-sort="@Model.PagingInfo.Sort"
                     asp-route-ascending="@Model.PagingInfo.Ascending"
                     class="btn btn-sm" title="Ažuriraj">
                    <i class="fas fa-edit"></i>
                </a>-->
                    <form asp-action="Delete" method="POST"
                          asp-route-page="@Model.PagingInfo.CurrentPage"
                          asp-route-sort="@Model.PagingInfo.Sort"
                          asp-route-ascending="@Model.PagingInfo.Ascending">
                        <input type="hidden" name="idNabava" value="@item.idNabava" />
                        <button type="submit" class="btn btn-sm btn-danger delete" title="Obriši">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>
                </td>
                        </tr>
                        }
                    </tbody>
                </table>

                @section scripts {
                    <script src="~/js/pager.js" asp-append-version="true"></script>
                }
