﻿@model Lokacija

@{
    ViewBag.Title = "Ažuriranje Lokacije";
}

<form asp-route-page="@ViewBag.Page"
      asp-route-sort="@ViewBag.Sort"
      asp-route-ascending="@ViewBag.Ascending"
      method="post">
    <div asp-validation-summary="All"></div>
    <input type="hidden" asp-for="sifraGrad" />
    <div class="form-group">
        <label asp-for="sifraGrad"></label>
        <div><span asp-validation-for="sifraGrad" class="text-danger"></span></div>
        <input asp-for="sifraGrad" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="grad"></label>
        <div><span asp-validation-for="grad" class="text-danger"></span></div>
        <textarea asp-for="grad" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="drzava"></label>
        <div><span asp-validation-for="drzava" class="text-danger"></span></div>
        <input asp-for="drzava" class="form-control" />
    </div>

    <div class="text-center">
        <button class="btn btn-primary" type="submit">Spremi</button>
        <a asp-action="Index"
           asp-route-page="@ViewBag.Page"
           asp-route-sort="@ViewBag.Sort"
           asp-route-ascending="@ViewBag.Ascending"
           class="btn btn-secondary">Odustani</a>
    </div>
</form>

@section scripts {
    <partial name="IncludeValidation" />
}