﻿@model WebApplicationJaNa.ViewModels.StavkeViewModel
@{
    ViewData["Title"] = "Ažuriranje ponude";
}

<h2>Ažuriranje ponude @Model.ponuda.sifraPonude</h2>

<div class="container">
    <form id="ponuda_form" method="post" asp-action="Edit"
          asp-route-page="@ViewBag.CurrentPage"
          asp-route-sort="@ViewBag.Sort"
          asp-route-ascending="@ViewBag.Ascending">

        <input asp-for="ponuda.sifraPonude" type="hidden" />
        <div asp-validation-summary="All" class="form-group row"></div>

        <div class="form-group row">
            <label asp-for="ponuda.sifraNatjecaj" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-2">
                <input asp-for="ponuda.sifraNatjecaj" readonly="readonly" data-autocomplete-placeholder="natjecaj" class="form-control" />
            </div>

            <div class="col-sm-2">
                <button id="save" type="submit" class="btn btn-sm btn-primary save" title="spremi">
                    <i class="fas fa-save"></i>
                </button>
                <a asp-action="Edit"
                   asp-route-id="@Model.ponuda.sifraPonude"
                   asp-route-page="@ViewBag.CurrentPage"
                   asp-route-sort="@ViewBag.Sort"
                   asp-route-ascending="@ViewBag.Ascending"
                   class="btn btn-sm btn-primary" title="osvježi">
                    <i class="fas fa-sync-alt"></i>
                </a>
                <a asp-action="Index"
                   asp-route-page="@ViewBag.CurrentPage"
                   asp-route-sort="@ViewBag.Sort"
                   asp-route-ascending="@ViewBag.Ascending"
                   class="btn btn-sm btn-primary" title="odustani">
                    <i class="fas fa-undo-alt"></i>
                </a>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="ponuda.OIBPonuditelj" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-3">
                <input asp-for="ponuda.OIBPonuditelj" readonly="readonly" data-autocomplete-placeholder="ponuditelj" class="form-control" />
            </div>
            <div class="col-sm-3">
                <input asp-for="nazivPonuditelja" data-autocomplete="ponuditelj" class="form-control" value="@Model.nazivPonuditelja" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="ponuda.sifraKonzorcij" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-2">
                <input asp-for="ponuda.sifraKonzorcij" readonly="readonly" data-autocomplete-placeholder="konzorcij" class="form-control" />
            </div>
            <div class="col-sm-2">
                <input asp-for="@Model.nazivKonzorcija" data-autocomplete="konzorcij" class="form-control" />
            </div>
        </div>

        <div class="col-sm-10">
            <partial name="Stavke" model="Model.stavke" />
        </div>

    </form>
</div>

<partial name="NovaStavkaTemplate" />

@section styles{
    <link rel="stylesheet" href="~/lib/jqueryui/themes/base/jquery-ui.css" />
}

@section scripts{
    <partial name="IncludeValidation" />
    <script src="~/lib/jqueryui/jquery-ui.js"></script>
    <script asp-src-include="~/js/autocomplete.js" asp-append-version="true"></script>
    <script asp-src-include="~/js/TTponude.js" asp-append-version="true"></script>
}
