﻿@model WebApplicationJaNa.ViewModels.TTPonudeViewModel
@{
    ViewData["Title"] = "Popis ponuda";
}

<div class="small">Elementi vrednovanja: složeni tablični prikaz</div>
<br />

<h2>Popis ponuda</h2>

<pager page-info="@Model.PagingInfo" page-action="Index" page-title="Unesite željenu stranicu" class="float-right"></pager>

<table class="table table-sm table-striped table-hover" id="tableponude">
    <thead class="thead-light">
        <tr>
            <th class="text-center"><a asp-route-sort="1" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 1? !Model.PagingInfo.Ascending : true)">Šifra natječaja</a></th>
            <th class="text-center"><a asp-route-sort="2" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 2? !Model.PagingInfo.Ascending : true)">Šifra ponude</a></th>
            <th class="text-center"><a asp-route-sort="3" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 3? !Model.PagingInfo.Ascending : true)">Naziv ponuditelja</a></th>
            <th class="text-center"><a asp-route-sort="4" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 4? !Model.PagingInfo.Ascending : true)">Naziv konzorcija</a></th>
            <th class="text-center text-primary">Stavke troškovnika</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ponuda in Model.Ponude)
        {
        <tr>
            <td class="text-center">@ponuda.sifraNatjecaj</td>
            <td class="text-center">@ponuda.sifraPonude</td>
            <td class="text-center">@ponuda.nazivPonuditelj</td>
            <td class="text-center">
                @if (ponuda.nazivKonzorcij == null)
                {<span>---</span>}
                else
                {<span>@ponuda.nazivKonzorcij</span>}
            </td>
            <td class="text-center">
                @if (ponuda.stavkeTroskovnika != null)
                    if (ponuda.stavkeTroskovnika.Count > 3)
                    {<span>@ponuda.stavkeTroskovnika.ElementAt(0); @ponuda.stavkeTroskovnika.ElementAt(1); @ponuda.stavkeTroskovnika.ElementAt(2); . . .</span>}
                else
                    @foreach (var stavka in ponuda.stavkeTroskovnika)
                    {<span>@stavka; </span>}
                    else
                    {<span>---</span>}
            </td>
            <td class="text-center">
                
                {<a asp-action="More" method="get"
                    asp-route-id="@ponuda.sifraPonude"
                    asp-route-page="@Model.PagingInfo.CurrentPage"
                    asp-route-sort="@Model.PagingInfo.Sort"
                    asp-route-ascending="@Model.PagingInfo.Ascending">Opširnije</a>}
            </td>
            <td>
                <a asp-action="Edit"
                   asp-route-id="@ponuda.sifraPonude"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-sort="@Model.PagingInfo.Sort"
                   asp-route-ascending="@Model.PagingInfo.Ascending"
                   class="btn btn-sm" title="Ažuriraj"><i class="fas fa-edit"></i></a>
            </td>
            <td>
                <form asp-action="Delete" method="post"
                      asp-route-page="@Model.PagingInfo.CurrentPage"
                      asp-route-sort="@Model.PagingInfo.Sort"
                      asp-route-ascending="@Model.PagingInfo.Ascending">
                    <input type="hidden" name="sifraPonude" value="@ponuda.sifraPonude"/>
                    <button type="submit" class="btn btn-sm btn-danger delete" title="Obriši"><i class="fas fa-trash-alt"></i></button>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>