﻿@model WebApplicationJaNa.ViewModels.StavkeViewModel
@{
    ViewData["Title"] = "Opširnije";
}

<div class="small">Elementi vrednovanja: prikaz pojedinačnog složenog podatka</div>
<br />

<h2>Opširnije o ponudi @Model.ponuda.sifraPonude</h2>

<table class="table table-sm table-bordered" id="tableponuda">
    <tbody>
        <tr>
            <td class="text-center">Šifra natječaja</td>
            <td class="text-center">@Model.ponuda.sifraNatjecaj</td>
        </tr>
        <tr>
            <td class="text-center">Šifra ponude</td>
            <td class="text-center">@Model.ponuda.sifraPonude</td>
        </tr>
        <tr>
            <td class="text-center">Naziv ponuditelja</td>
            <td class="text-center">@Model.nazivPonuditelja</td>
        </tr>
        <tr>
            <td class="text-center">OIB ponuditelja</td>
            <td class="text-center">@Model.ponuda.OIBPonuditelj</td>
        </tr>
        <tr>
            <td class="text-center">Naziv konzorcija</td>
            <td class="text-center">
            @if (Model.nazivKonzorcija == null)
            {<span>---</span>}
            else
            {<span>@Model.nazivKonzorcija</span>}
            </td>
        </tr>
    </tbody>
</table>
<br />
<h3>Stavke troškovnika</h3>
<pager page-info="@Model.PagingInfo" page-action="Index" page-title="Unesite željenu stranicu" class="float-right"></pager>

<table class="table table-sm table-striped table-hover" id="tableponuditelji">
    <thead class="thead-light">
        <tr>
            <th class="text-center">ID stavke</th>
            <th class="text-center">Opis stavke</th>
            <th class="text-center">Količina</th>
            <th class="text-center">Cijena(kn)</th>
        </tr>
    </thead>
    <tbody>
            @foreach (var stavka in Model.stavke)
            {
                <tr>
                    <td class="text-center">@stavka.idStavke</td>
                    <td class="text-center">@stavka.opisStavke</td>
                    <td class="text-center">@stavka.kolicina</td>
                    <td class="text-center">@stavka.cijena</td>
                </tr>
            }
    </tbody>
</table>

<div>
    <a asp-action="Index"
       asp-route-page="@ViewBag.CurrentPage"
       asp-route-sort="@ViewBag.Sort"
       asp-route-ascending="@ViewBag.Ascending">Povratak na pregled ponuda</a>
</div>
