﻿@model IEnumerable<StavkaTroskovnika>

<table class="table table-sm table-striped table-hover" id="tableponuditelji">
    <thead class="thead-light">
        <tr>
            <th class="text-center">ID stavke</th>
            <th class="text-center">Opis stavke</th>
            <th class="text-center">Količina</th>
            <th class="text-center">Cijena(kn)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var stavka in Model)
        {
            <tr>
                <td class="text-center">
                    <input type="hidden" name="Stavke.Index" value="@stavka.idStavke" />
                    <input type="hidden" name="Stavke[@stavka.idStavke].idStavke" value="@stavka.idStavke" />
                    @stavka.idStavke
                </td>
                <td class="text-center col-sm-7">
                    @stavka.opisStavke
                </td>
                <td class="text-center col-sm-7">
                    <input class="form-control" name="Stavke[@stavka.idStavke].kolicina" value="@stavka.kolicina" />
                </td>
                <td class="text-center col-sm-7">
                    <input class="form-control" name="Stavke[@stavka.idStavke].cijena" value="@stavka.cijena" />
                </td>
                <td class="text-xl-center-right col-sm-2">
                    <button class="btn btn-sm btn-danger deleterow" title="izbriši">
                        <i class="fa fa-minus"></i>
                    </button>
                </td>
            </tr>
        }
        <tr>
            <td>
                <input id="artikl-sifra" type="hidden" data-autocomplete-placeholder="artikl" readonly="readonly" />
                <input id="artikl-naziv" type="text" data-autocomplete="artikl" />
            </td>
            <td class="text-center col-sm-1">
                <input id="artikl-kolicina" type="text" />
            </td>
            <td class="text-center col-sm-1">
                <input id="artikl-rabat" type="text" />
            </td>
            <td class="text-right col-sm-2">
                <input id="artikl-cijena" type="text" data-autocomplete-placeholder-cijena="artikl" readonly="readonly" />
            </td>
            <td class="text-left" colspan="3">
                <button id="artikl-dodaj" class="btn btn-sm btn-secondary" title="Dodaj"><i class="fas fa-plus"></i></button>
            </td>
        </tr>
    </tbody>
</table>