﻿@model Narucitelj

@{
    ViewBag.Title = "Ažuriranje naručitelja";
}

<h2 class="text-center">Uređivanje naručitelja</h2>

<form asp-route-page="@ViewBag.Page"
      asp-route-sort="@ViewBag.Sort"
      asp-route-ascending="@ViewBag.Ascending"
      asp-action="Edit"
      method="post">
    <div asp-validation-summary="All"></div>

    <div class="form-group">
        <label asp-for="naziv">Naziv naručitelja</label>
        <div><span asp-validation-for="naziv" class="text-danger"></span></div>
        <input asp-for="naziv" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="sifraGrad">Grad</label>
        <select class="form-control" asp-for="sifraGrad" asp-items="ViewBag.Narucitelj">
            <option disabled selected value="">Odaberite željeni grad</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="adresa">Adresa</label>
        <div><span asp-validation-for="adresa" class="text-danger"></span></div>
        <input asp-for="adresa" class="form-control" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Spremi</button>
        <a asp-action="Index"
           asp-route-page="@ViewBag.Page"
           asp-route-sort="@ViewBag.Sort"
           asp-route-ascending="@ViewBag.Ascending"
           class="btn btn-secondary">Odustani</a>
    </div>
</form>
