﻿@model WebApplicationJaNa.ViewModels.DBNaruciteljViewModel

@{
    ViewData["Title"] = "Narucitelj DB";
}

<h2 class="text-center">Naručitelji</h2>

<div class="small">
    Elementi vrednovanja: padajuća lista na kreiranju i ažuriranju</div>

    <pager page-info="@Model.PagingInfo" page-action="Index" page-title="Unesite željenu stranicu" class="float-right">
    </pager>

    <div class="text-center">
        <a class="btn btn-primary" asp-action="Create">Unos novog naručitelja </a>

    </div>
    <hr />
    <table class="table table-sm table-striped table-hover">
        <thead>
            <tr>
                <th>
                    <a asp-route-sort="1"
                       asp-route-page="@Model.PagingInfo.CurrentPage"
                       asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)">OIB Naručitelja: </a>
                </th>
                <th>
                    <a asp-route-sort="2"
                       asp-route-page="@Model.PagingInfo.CurrentPage"
                       asp-route-ascending="@(Model.PagingInfo.Sort == 2 ? !Model.PagingInfo.Ascending : true)">Naziv: </a>
                </th>
                <th>
                    <a asp-route-sort="3"
                       asp-route-page="@Model.PagingInfo.CurrentPage"
                       asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? !Model.PagingInfo.Ascending : true)">Grad: </a>
                </th>
                <th>
                    <a asp-route-sort="4"
                       asp-route-page="@Model.PagingInfo.CurrentPage"
                       asp-route-ascending="@(Model.PagingInfo.Sort == 4 ? !Model.PagingInfo.Ascending : true)">Adresa: </a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Narucitelj)
            {
                <tr>
                    <td class="text-left">@item.OIBNarucitelja</td>
                    <td class="text-left">@item.naziv</td>
                    <td class="text-left">@item.sifraGradNavigation.grad</td>
                    <td class="text-left">@item.adresa</td>
                    <td class="btn-group">
                        <a asp-action="Edit"
                           asp-route-id="@item.OIBNarucitelja"
                           asp-route-page="@Model.PagingInfo.CurrentPage"
                           asp-route-sort="@Model.PagingInfo.Sort"
                           asp-route-ascending="@Model.PagingInfo.Ascending"
                           class="btn btn-sm" title="Ažuriraj">
                            <i class="fas fa-edit"></i>
                        </a>
                        <form asp-action="Delete" method="POST"
                              asp-route-page="@Model.PagingInfo.CurrentPage"
                              asp-route-sort="@Model.PagingInfo.Sort"
                              asp-route-ascending="@Model.PagingInfo.Ascending">
                            <input type="hidden" name="OIBNarucitelja" value="@item.OIBNarucitelja" />
                            <button type="submit" class="btn btn-sm btn-danger delete" title="Obriši">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @section scripts {
        <script src="~/js/pager.js" asp-append-version="true"></script>
    }
