﻿@model WebApplicationJaNa.ViewModels.NatjecajViewModel

@{ ViewBag.Title = "Natječaji"; }

<h2 class="text-center">Popis natječaja i njihovih dokumenata</h2>
<p class="text-center"><a asp-action="Create">Unos novog natječaja</a></p>

<pager page-info="@Model.PagingInfo" page-action="Index" page-title="Unesite željenu stranicu"
       class="float-right">
</pager>

<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            <th class="text-center">
                <a asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-sort="1"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)">
                    Predmet nabave
                </a>
            </th>
            <th>
                <a asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-sort="2"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 2 ? !Model.PagingInfo.Ascending : true)">
                    Naručitelj
                </a>
            </th>
            <th>
                <a asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-sort="3"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? !Model.PagingInfo.Ascending : true)">
                    Datum objave
                </a>
            </th>
            <th>
                <a asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-sort="4"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? !Model.PagingInfo.Ascending : true)">
                    Dostava elektroničkim putem
                </a>
            </th>
            <th>
                <a asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-sort="5"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? !Model.PagingInfo.Ascending : true)">
                    Rok za dostavu
                </a>
            </th>
            <th>
                <a>
                    Dokumenti
                </a>
            </th>
            <th></th>  @* prazan cell za buttons *@
        </tr>
    </thead>
    <tbody>
        @foreach (var nat in Model.Natjecaji)
        {
        <tr>
            <td class="text-center">@nat.idNabavaNavigation.predmet</td>
            <td class="text-left">@nat.OIBNaruciteljaNavigation.naziv</td>
            <td class="text-left">@nat.datumObjave</td>
            <td class="text-left">@(nat.dostavaElektronickimPutem ? "Da" : "Ne")</td>
            <td class="text-left">@nat.rokZaDostavu</td>
            <td class="text-left">
                @foreach (var d in nat.Dokument)
                {
                <p><a asp-controller="Dokument" asp-action="Index" asp-route-id="@d.sifraNatjecaj"
                      >@d.naslov</a></p>
                }
            </td>
            @* nije još implementirano
        <td class="btn-group">
            <a asp-action="Edit"
               asp-route-id="@nat.sifraNatjecaj"
               asp-route-page="@Model.PagingInfo.CurrentPage"
               asp-route-sort="@Model.PagingInfo.Sort"
               asp-route-ascending="@Model.PagingInfo.Ascending"
               class="btn btn-sm" title="Ažuriraj"><i class="fas fa-edit"></i></a>
            <form asp-action="Delete" method="post"
                  asp-route-page="@Model.PagingInfo.CurrentPage"
                  asp-route-sort="@Model.PagingInfo.Sort"
                  asp-route-ascending="@Model.PagingInfo.Ascending">
                <input type="hidden" name="sifraNatjecaj" value="@nat.sifraNatjecaj" />
                <button type="submit" class="btn btn-sm btn-danger delete" title="Obriši">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </form>
        </td>
            *@
        </tr>
        }

    </tbody>
</table>

@section scripts {
    <script src="~/js/pager.js" asp-append-version="true"></script>
}
