﻿@model Ponuda

@{
    ViewData["Title"] = "Dodavanje ponude";
}

<h2 style="margin-top:1%; color:midnightblue">Dodavanje nove ponude</h2>
<form asp-action="Create" method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="OIBPonuditelj">OIB ponuditelja</label><br />
        <input asp-for="OIBPonuditelj" class="form-control" id="prvi" placeholder="Unesite OIB ponuditelja" onchange="check1()"/>
    </div>
    <div class="form-group">
        <label asp-for="sifraKonzorcij">Konzorcij</label><br />
        <input asp-for="sifraKonzorcij" class="form-control" id="drugi" placeholder="Unesite šifru konzorcija" onchange="check2()"/>
    </div>
    <div class="form-group">
        <label asp-for="sifraNatjecaj">Šifra natječaja</label><br />
        <input asp-for="sifraNatjecaj" class="form-control" placeholder="Unesite šifru natječaja" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Unesi</button>
        <a asp-action="Index" class="btn btn-secondary">Odustani</a>
    </div>
</form>

<script>
    function check1() {
        if (document.getElementById("prvi").value != "") {
            document.getElementById("drugi").disabled = true;
        }
        else {
            document.getElementById("drugi").disabled = false;
        }
    }
    function check2() {
        if (document.getElementById("drugi").value != "") {
            document.getElementById("prvi").disabled = true;
        }
        else {
            document.getElementById("prvi").disabled = false;
        }
    }
</script>