﻿@model Ponuda

@{
    ViewBag.Title = "Ažuriranje ponude";
}

<h2 style="margin-top:1%; color:midnightblue">Ažuriranje naručitelja</h2>
<form asp-route-page="@ViewBag.Page"
      asp-route-sort="@ViewBag.Sort"
      asp-route-ascending="@ViewBag.Ascending"
      method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="OIBPonuditelj">OIB ponuditelja</label><br />
        <div><span asp-validation-for="OIBPonuditelj" class="text-danger"></span></div>
        <input asp-for="OIBPonuditelj" class="form-control" placeholder="Unesite naziv" />
    </div>
    <div class="form-group">
        <label asp-for="sifraKonzorcij">Konzorcij</label><br />
        <select class="form-control" asp-for="sifraKonzorcij" asp-items="ViewBag.Narucitelj">
            <option disabled selected value="">Odaberite grad</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="sifraNatjecaj">Šifra natječaja</label><br />
        <div><span asp-validation-for="sifraNatjecaj" class="text-danger"></span></div>
        <input asp-for="sifraNatjecaj" class="form-control" placeholder="Unesite šifru natječaja" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Spremi promjene</button>
        <a asp-action="Index"
           asp-route-page="@ViewBag.Page"
           asp-route-sort="@ViewBag.Sort"
           asp-route-ascending="@ViewBag.Ascending"
           class="btn btn-secondary">Odustani od promjena</a>
    </div>
</form>
