﻿@model WebApplicationJaNa.ViewModels.AVPonudeViewModel

@{
    ViewData["Title"] = "Popis ponuda";
}

<style>
    .naslov + h2 {
        color: midnightblue;
        margin-top: 1%;
    }

    .btn-edit {
        color: white;
        background-color: rgb(242, 126, 2);
        margin-right: 1px;
    }

        .btn-edit:hover {
            color: white;
            background-color: rgb(252, 181, 27);
        }

    .btn-delete {
        color: white;
        background-color: rgb(209, 19, 19);
    }

        .btn-delete:hover {
            color: white;
            background-color: rgb(253, 16, 16);
        }

    .unos {
        padding: 1%;
        outline: none;
        background-color: cornflowerblue;
        border: none;
        border-radius: 3%;
        width: 100px;
        margin-bottom: 1%;
        text-align: center;
    }

        .unos:hover {
            background-color: rgb(131, 171, 241);
            cursor: default;
        }

    .a-unos, .a-unos:hover {
        color: white;
        text-decoration: none;
    }
</style>
<p class="naslov"><h2>Popis ponuda</h2></p>

<div class="unos"><a class="a-unos" asp-action="Create">Novi unos</a></div>
<pager page-info="@Model.PagingInfo" page-action="Index" page-title="Unesite željenu stranicu" class="float-right"></pager>

<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            <th class="text-center">
                <a asp-route-sort="1"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)">Ponuda</a>
            </th>
            <th class="text-center">
                <a asp-route-sort="2"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 2 ? !Model.PagingInfo.Ascending : true)">Ponuditelj</a>
            </th>
            <th class="text-center">
                <a asp-route-sort="3"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? !Model.PagingInfo.Ascending : true)">Konzorcij</a>
            </th>
            <th class="text-center">
                <a asp-route-sort="4"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 4 ? !Model.PagingInfo.Ascending : true)">Natječaj</a>
            </th>
            <th class="text-right"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ponuda in Model.Ponude)
        {
        <tr>
            <td class="text-center">@ponuda.sifraPonude</td>
            @if (ponuda.OIBPonuditelj != null)
            {
                <td class="text-center">@ponuda.OIBPonuditeljNavigation.nazivPonuditelj</td>
            }
            else
            {
                <td class="text-center">/</td>
            }
            @if (ponuda.sifraKonzorcij != null)
            {
                <td class="text-center">@ponuda.sifraKonzorcijNavigation.nazivKonzoricij</td>
            }
            else
            {
                <td class="text-center">/</td>
            }
            <td class="text-center">@ponuda.sifraNatjecajNavigation.idNabavaNavigation.predmet</td>
            <td class="text-right">
                <div class="btn-group">
                    @*<a asp-action="Edit"
                        asp-route-id="@ponuda.sifraPonude"
                        asp-route-page="@Model.PagingInfo.CurrentPage"
                        asp-route-sort="@Model.PagingInfo.Sort"
                        asp-route-ascending="@Model.PagingInfo.Ascending"
                        class="btn btn-edit">*@
                    <a class="btn btn-edit">
                        <i class="fa fa-edit"></i>
                    </a>
                    <form asp-action="Delete" method="post"
                          asp-route-page="@Model.PagingInfo.CurrentPage"
                          asp-route-sort="@Model.PagingInfo.Sort"
                          asp-route-ascending="@Model.PagingInfo.Ascending">
                        <input type="hidden" name="sifraPonude" value="@ponuda.sifraPonude" />
                        <button type="submit" class="btn btn-delete delete"><i class="fas fa-trash-alt"></i></button>
                    </form>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>
@section scripts {
    <script src="~/js/pager.js" asp-append-version="true"></script>

}