﻿@model Ponuditelj

@{
    ViewBag.Title = "Ažuriranje Ponuđača";
}

<form asp-route-page="@ViewBag.Page"
      asp-route-sort="@ViewBag.Sort"
      asp-route-ascending="@ViewBag.Ascending"
      method="post">
    <div asp-validation-summary="All"></div>
    <input type="hidden" asp-for="OIBPonuditelj" />
    <div class="form-group">
        <label asp-for="OIBPonuditelj"></label>
        <div><span asp-validation-for="OIBPonuditelj" class="text-danger"></span></div>
        <input asp-for="OIBPonuditelj" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="nazivPonuditelj"></label>
        <div><span asp-validation-for="nazivPonuditelj" class="text-danger"></span></div>
        <textarea asp-for="nazivPonuditelj" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="sifraGrad">Grad</label>
        <select class="form-control" asp-for="sifraGrad" asp-items="ViewBag.Mjesta">
            <option disabled selected value="">odaberite grad</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="adresa"></label>
        <div><span asp-validation-for="adresa" class="text-danger"></span></div>
        <input asp-for="adresa" class="form-control" />
    </div>

    <div class="text-center">
        <button class="btn btn-primary" type="submit">Spremi</button>
        <a asp-action="Index"
           asp-route-page="@ViewBag.Page"
           asp-route-sort="@ViewBag.Sort"
           asp-route-ascending="@ViewBag.Ascending"
           class="btn btn-secondary">Odustani</a>
    </div>
</form>

@section scripts {
    <partial name="IncludeValidation" />
}