﻿@model WebApplicationJaNa.ViewModels.DPPonuditeljiViewModel

@{
    ViewBag.Title = "Ponuditelji";
}

<div class="container">
    <div class="form-group row">
        <div class="col-sm-4">
            <h2>Pregled svih ponuđača</h2>
            <br />
            <a asp-action="Create">Unos novog ponuđača</a>
        </div>
        <div class="col-sm-7">

        </div>
    </div>
</div>



<pager page-info="@Model.PagingInfo"  page-action="Index" page-title="Unesite željenu stranicu"
       class="float-right">
</pager>


<table class="table table-striped">
    <thead>
        <tr>
            <th>
                <a asp-route-sort="1" asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)">

                    OIB Ponuditelja
                </a>
            </th>
            <th>
                <a asp-route-sort="2" asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 2 ? !Model.PagingInfo.Ascending : true)">

                    Naziv Ponuditelja
                </a>
            </th>
            <th>
                <a asp-route-sort="3" asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? !Model.PagingInfo.Ascending : true)">

                    Šifra Grada
                </a>
            </th>
            <th>
                <a asp-route-sort="3" asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? !Model.PagingInfo.Ascending : true)">

                    Grad
                </a>
            </th>
            <th>
                <a asp-route-sort="3" asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? !Model.PagingInfo.Ascending : true)">

                    Država
                </a>
            </th>
            <th>
                <a asp-route-sort="3" asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? !Model.PagingInfo.Ascending : true)">

                    Adresa
                </a>
            </th>

            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model.Ponuditelji)
        {
        <tr>
            <td class="text-left">@p.OIBPonuditelj</td>
            <td class="text-left">@p.nazivPonuditelj</td>
            <td class="text-left">@p.sifraGrad</td>
            <td class="text-left">@p.grad</td>
            <td class="text-left">@p.drzava</td>
            <td class="text-left">@p.adresa</td>

            <td>
                <a asp-action="Edit"
                   asp-route-id="@p.OIBPonuditelj"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-sort="@Model.PagingInfo.Sort"
                   asp-route-ascending="@Model.PagingInfo.Ascending"
                   class="btn btn-warning btn-sm" title="Ažuriraj"><i class="fas fa-edit"></i></a>
            </td>
            <td>
                <form asp-action="Delete" method="post"
                      asp-route-page="@Model.PagingInfo.CurrentPage"
                      asp-route-sort="@Model.PagingInfo.Sort"
                      asp-route-ascending="@Model.PagingInfo.Ascending">
                    <input type="hidden" name="OIBPonuditelj" value="@p.OIBPonuditelj" />
                    <button type="submit" class="btn btn-sm btn-danger delete" title="Obriši"><i class="fas fa-trash-alt"></i></button>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>

@section styles{
    <link rel="stylesheet" href="~/lib/jqueryui/themes/base/jquery-ui.css" />
}

@section scripts{
    <script src="~/lib/jqueryui/jquery-ui.js"></script>
    <script src="~/js/autocomplete.js" asp-append-version="true"></script>
}