﻿@model PlanNabave

@{
    ViewData["Title"] = "Novi plan nabave";
}

<h2 class="text-center">Unos novog plana nabave</h2>

<form asp-action="Create" method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="idPlana">Šifra plana</label>
        <div><span asp-validation-for="idPlana" class="text-danger"></span></div>
        <input asp-for="idPlana" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="godina">Godina plana</label>
        <div><span asp-validation-for="godina" class="text-danger"></span></div>
        <input asp-for="godina" class="form-control" type="number" min="2000" max="2100"/>
    </div>
    <div class="form-group">
        <label asp-for="OIBNarucitelja">Naziv naručitelja</label>
        <select class="form-control" asp-for="OIBNarucitelja" asp-items="ViewBag.Narucitelji">
            <option disabled selected value="">Odaberite naručitelja</option>
        </select>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Dodaj</button>
        <a asp-action="Index" class="btn btn-secondary">Odustani</a>
    </div>
</form>