﻿@model PlanNabave

@{
    ViewBag.Title = "Ažuriranje plana nabave";
}

<h2 class="text-center">Uređivanje plana nabave</h2>

<form asp-route-page="@ViewBag.Page"
      asp-route-sort="@ViewBag.Sort"
      asp-route-ascending="@ViewBag.Ascending"
      asp-action="Edit"
      method="post">
    <div asp-validation-summary="All"></div>

    <div class="form-group">
        <label asp-for="godina">Godina plana</label>
        <div><span asp-validation-for="godina" class="text-danger"></span></div>
        <input asp-for="godina" class="form-control" type="number" min="2000" max="2100"/>
    </div>
    <div class="form-group">
        <label asp-for="OIBNarucitelja">Naziv naručitelja</label>
        <select class="form-control" asp-for="OIBNarucitelja" asp-items="ViewBag.Narucitelji">
            <option disabled selected value="">Odaberite naručitelja</option>
        </select>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Spremi</button>
        <a asp-action="Index"
           asp-route-page="@ViewBag.Page"
           asp-route-sort="@ViewBag.Sort"
           asp-route-ascending="@ViewBag.Ascending"
           class="btn btn-secondary">Odustani</a>
    </div>
</form>
