﻿@model VrstaDokumenta
@{ ViewBag.Title = "Nova vrsta dokumenta"; }

<h2 class="text-center">Unos nove vrste dokumenta</h2>

<form asp-action="Create" method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="formatDatoteke"></label>
        <div><span asp-validation-for="formatDatoteke" class="text-danger" /></div>
        <input asp-for="formatDatoteke" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="vrsta"></label>
        <div><span asp-validation-for="vrsta" class="text-danger" /></div>
        <input asp-for="vrsta" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="opis"></label>
        <div><span asp-validation-for="opis" class="text-danger" /></div>
        <input asp-for="opis" class="form-control" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Dodaj</button>
        <a asp-action="Index" class="btn btn-secondary">Odustani</a>
    </div>
</form>

@section scripts {
    <partial name="IncludeValidation" />
}