﻿@model VrstaDokumenta

@{ ViewBag.Title = "Ažuriranje vrste dokumenta"; }

<form asp-route-id="@Model.vrsta"
      asp-route-page="@ViewBag.Page"
      asp-route-sort="@ViewBag.Sort"
      asp-route-ascending="@ViewBag.Ascending"
      method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="formatDatoteke"></label>
        <div><span asp-validation-for="formatDatoteke" class="text-danger"></span></div>
        <input asp-for="formatDatoteke" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="opis"></label>
        <div><span asp-validation-for="opis" class="text-danger"></span></div>
        <textarea asp-for="opis" class="form-control"></textarea>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Spremi</button>
        <a asp-action="Index"
           asp-route-page="@ViewBag.Page"
           asp-route-sort="@ViewBag.Sort"
           asp-route-ascending="@ViewBag.Ascending"
           class="btn btn-secondary">Odustani</a>
    </div>
</form>

@section scripts {
    <partial name="IncludeValidation" />
}