﻿@model WebApplicationJaNa.ViewModels.VrstaDokumentaViewModel

@{ ViewBag.Title = "Vrste Dokumenata"; }

<h2 class="text-center">Popis vrsta dokumenata</h2>
<p class="text-center"><a asp-action="Create">Unos nove vrste dokumenta</a></p>

<pager page-info="@Model.PagingInfo" page-action="Index" page-title="Unesite željenu stranicu"
       class="float-right">
</pager>

<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            <th class="text-center">
                <a asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-sort="1"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)">
                    Format datoteke
                </a>
            </th>
            <th>
                <a asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-sort="2"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 2 ? !Model.PagingInfo.Ascending : true)">
                    Vrsta dokumenta
                </a>
            </th>
            <th>
                <a asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-sort="3"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? !Model.PagingInfo.Ascending : true)">
                    Opis
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vd in Model.VrstaDokumenta)
        {
    <tr>
        <td class="text-center">@vd.formatDatoteke</td>
        <td class="text-left">@vd.vrsta</td>
        <td class="text-left">@vd.opis</td>
        <td class="btn-group">
            <a asp-action="Edit"
               asp-route-id="@vd.vrsta"
               asp-route-page="@Model.PagingInfo.CurrentPage"
               asp-route-sort="@Model.PagingInfo.Sort"
               asp-route-ascending="@Model.PagingInfo.Ascending"
               class="btn btn-sm" title="Ažuriraj"><i class="fas fa-edit"></i></a>
            <form asp-action="Delete" method="post"
                  asp-route-page="@Model.PagingInfo.CurrentPage"
                  asp-route-sort="@Model.PagingInfo.Sort"
                  asp-route-ascending="@Model.PagingInfo.Ascending">
                <input type="hidden" name="vrsta" value="@vd.vrsta" />
                <button type="submit" class="btn btn-sm btn-danger delete" title="Obriši">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </form>
        </td>
    </tr>
}

    </tbody>
</table>

@section scripts {
    <script src="~/js/pager.js" asp-append-version="true"></script>

}
