﻿@model Narucitelj

@{
    ViewData["Title"] = "Dodavanje naručitelja";
}

<h2 style="margin-top:1%; color:midnightblue">Dodavanje novog naručitelja</h2>
<form asp-action="Create" method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="OIBNarucitelja">OIB</label><br />
        <input asp-for="OIBNarucitelja" class="form-control" placeholder="Unesite OIB" />
    </div>
    <div class="form-group">
        <label asp-for="naziv">Naziv</label><br />
        <input asp-for="naziv" class="form-control" placeholder="Unesite naziv" />
    </div>
    <div class="form-group">
        <label asp-for="sifraGrad">Grad</label><br />
        <select class="form-control" asp-for="sifraGrad" asp-items="ViewBag.Narucitelj">
            <option disabled selected value="">Odaberite grad</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="adresa">Adresa sjedišta</label><br />
        <input asp-for="adresa" class="form-control" placeholder="Unesite adresu sjedišta" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Unesi</button>
        <a asp-action="Index" class="btn btn-secondary">Odustani</a>
    </div>
</form>