﻿@model Narucitelj

@{
    ViewBag.Title = "Ažuriranje naručitelja";
}

<h2 style="margin-top:1%; color:midnightblue">Ažuriranje naručitelja</h2>
<form asp-route-page="@ViewBag.Page"
      asp-route-sort="@ViewBag.Sort"
      asp-route-ascending="@ViewBag.Ascending"
      method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="naziv">Naziv</label><br />
        <div><span asp-validation-for="naziv" class="text-danger"></span></div>
        <input asp-for="naziv" class="form-control" placeholder="Unesite naziv" />
    </div>
    <div class="form-group">
        <label asp-for="sifraGrad">Grad</label><br />
        <select class="form-control" asp-for="sifraGrad" asp-items="ViewBag.Narucitelj">
            <option disabled selected value="">Odaberite grad</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="adresa">Adresa sjedišta</label><br />
        <div><span asp-validation-for="adresa" class="text-danger"></span></div>
        <input asp-for="adresa" class="form-control" placeholder="Unesite adresu sjedišta" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Spremi promjene</button>
        <a asp-action="Index"
           asp-route-page="@ViewBag.Page"
           asp-route-sort="@ViewBag.Sort"
           asp-route-ascending="@ViewBag.Ascending"
           class="btn btn-secondary">Odustani od promjena</a>
    </div>
</form>
