﻿@model WebApplicationJaNa.ViewModels.DokumentViewModel

@{
    ViewBag.Title = "Dokumenti";
}

<h2 class="text-center">Dokumenti natječaja:</h2>


<p class="text-center"><a asp-action="Create">Unos novog dokumenta</a></p>

<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            <th class="text-center">Predmet nabave</th>
            <th>Naručitelj</th>
            <th>Datum objave</th>
            <th class="text-center">Dostava elektroničkim putem</th>
            <th>Rok za dostavu</th>
        </tr>
    </thead>
    <tbody>
        @{var nat = Model.Natjecaj; 
            <tr>
                <td class="text-center">@Model.Nabava.predmet</td>
                <td class="text-left">@Model.Narucitelj.naziv</td>
                <td class="text-left">@nat.datumObjave</td>
                <td class="text-center">@(nat.dostavaElektronickimPutem ? "Da" : "Ne")</td>
                <td class="text-left">@nat.rokZaDostavu</td>
            </tr>
        }
    </tbody>
</table>

<pager page-info="@Model.PagingInfo" page-action="Index" page-title="Unesite željenu stranicu"
       class="float-right">
</pager>

<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            <th class="text-center">
                <a asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-sort="1"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)">
                    Naslov
                </a>
            </th>
            <th>
                <a asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-sort="2"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? !Model.PagingInfo.Ascending : true)">
                    Vrsta
                </a>
            </th>
            <th>
                <a asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-sort="3"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? !Model.PagingInfo.Ascending : true)">
                    Urudžbeni broj
                </a>
            </th>
            <th>
                <a asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-sort="4"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? !Model.PagingInfo.Ascending : true)">
                    Datum
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var d in Model.Dokumenti)
        {
            <tr>
                <td class="text-center">@d.naslov</td>
                <td class="text-left">@d.vrsta</td>
                <td class="text-left">@d.urudzbeniBroj</td>
                <td class="text-left">@d.datum</td>
                <td class="text-left">
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script src="~/js/pager.js" asp-append-version="true"></script>
}
