﻿@model Natjecaj

@{ViewBag.Title = "Kreiriranje novog natječaja";}

<form asp-action="Create" method="post">
    <div asp-validation-summary="All"></div>
    <br />
    <div style="float:left;">
        <input asp-for="dostavaElektronickimPutem" class="form-control" style="margin:0;padding:0;" />
        <label asp-for="dostavaElektronickimPutem">Dostava elektroničkim putem</label>
    </div>
    <div class="form-group">
        <label asp-for="idNabava">Predmet nabave</label>
        <select class="form-control" asp-for="idNabava" asp-items="ViewBag.Predmeti">
            <option disabled selected value="">odaberite predmet nabave</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="OIBNarucitelja">Naziv naručitelja</label>
        <select class="form-control" asp-for="OIBNarucitelja" asp-items="ViewBag.Narucitelji">
            <option disabled selected value="">odaberite naziv naručitelja</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="datumObjave">Datum objave</label>
        <div><span asp-validation-for="datumObjave" class="text-danger"></span></div>
        <input asp-for="datumObjave" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="rokZaDostavu">Rok za dostavu</label>
        <div><span asp-validation-for="rokZaDostavu" class="text-danger"></span></div>
        <input asp-for="rokZaDostavu" class="form-control" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Dodaj</button>
        <a asp-action="Index" class="btn btn-secondary">Odustani</a>
    </div>
</form>

@section scripts {
    <partial name="IncludeValidation" />
}